<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="static/css/courses.css">
    
    <script src="static/js/courses.js"></script>
</head>
<body>
    <main>

        <section class="course-details" style="background-image: url('static/images/python-logo.jpg');">
            <h1>Python for Beginners</h1>
            <p>This course is designed for beginners who want to learn Python programming from scratch.</p>
            <ul>
                <li><strong>Duration:</strong> 6 weeks</li>
                <li><strong>Level:</strong> Beginner</li>
                <li><strong>Price:</strong> Free</li>
            </ul>
            <button class="enroll-button">Enroll Now</button>
        </section>

        <section class="course-description">
            <h2>Course Description</h2>
            <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. It was originally released in 1991. Designed to be easy as well as fun.</p>
            <p>the name "Python" is a nod to the British comedy group Monty Python</p>
        </section>

       

    </main>

    <!--<main>
        <section class="course-details" style="background-image: url('static/images/digital.jpg');">
            <h1>Digital Marketing</h1>
            <p>This course is designed for beginners who want to learn Python programming from scratch.</p>
            <ul>
                <li><strong>Duration:</strong> 3 weeks</li>
                <li><strong>Level:</strong> Beginner</li>
                <li><strong>Price:</strong> Free</li>
                <li class="coming-soon">Coming Soon</li>
            </ul>
            <button class="enroll-button">Not available</button>
        </section>

        <section class="course-description">
            <h2>Course Description</h2>
            <p>Digital marketing is to develop strong and innovative strategies to promote the business brand, products, and services. A digital marketing professional is expected to effectively use all marketing tools and techniques like,</p>
            <p>PPC, SEO, SEM, email, social media, and display advertising.</p>
        </section>


    </main>-->
    <ul><li><a href="/">Return to home</a></li></ul>
</body>
</html>
