<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete account- PGK Academy online</title>
    <link rel="stylesheet" href="static/css/signup.css">
</head>
<body>
    <div class="form">
        <h2>DELETE</h2>
        <form method="POST" action="{{ url_for('delete_account') }}">
            <input type="username" name="username" placeholder="Enter your username here" required>
            <input type="password" id="password" name="password" placeholder="Enter your Password Here" required>
            <button class="btnn" type="submit">DELETE</button>
        </form>
    </div>
    <ul><li><a href="/">Return to home</a></li></ul>
    <script src="static/js/delete_acc.js"></script>
</body>
</html>
